
table{
    width: 50%;
}
th.mat-sort-header-sorted {
    color: black;
}

.example-container {
    height: 400px;
    overflow: auto;
}
.mat-form-field {
    font-size: 14px;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    
}
.mat-toolbar-row{
    flex-direction: column !important;
    padding-top: 16px;
    font-size: 140%;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #e9e9e9;
    margin: 0px;
}
button{
    border-radius: 4px;
    background-color: white;
    border: 0px;

}
button:hover{
    background-color: #e7e7e7;
}